.celestialbody--container {
  margin: auto;
  padding: 20px 30px;
  font-size: 18px;
  line-height: 1.5rem;
  max-width: 1000px;
}

.celestialbody--table {
  margin: 0 0 40px 0;
}

.celestialbody--image {
  max-height: 300px;
  margin: 20px 30px;
  max-width: 350px;
}

@media (max-width: 700px) {
  .celestialbody--image {
    margin: 20px 5px;
    max-width: 300px;
  }
}

@media (min-width: 700px) {
  .celestialbody--table {
    display: flex;
    align-items: flex-start;

    div {
      margin: 0 0 0 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}