.celestial-container {
  margin: 30px 0 0 0;
  max-width: 1600px;
}

.celestial-list {
  list-style-type: none;
  padding: 0 0 0 10px;

  li {
    padding-top: 10px;
  }
}

.tooltip {
  line-height: 1rem;
  p {
    margin: 6px;
    text-align: left;
  }
}