@import './celestial-container';
@import './celestial-info';

body {
  background-color: rgb(20, 20, 50);
  background-image: url("/images/starry_sky_background.jpg");
  background-size: cover;
  min-height: 98vh; // Stabilises the "cover" of the background image
  color: rgb(250, 250, 250);
  font-family: 'Courier New', Courier, monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; // Stops the Edit button from stretching to 100% height.
  padding: 10px;
}

.button--dropdown {
  width: 100%;
  display: flex;
  justify-content: center;
}

.font--primary, .font--primary * {
  color: rgb(230, 230, 230);
}

.font--secondary, .font--secondary  * {
  color: rgb(20, 20, 20)
}

a {
  text-decoration: none;
}

.hover {
  cursor: pointer;
}