@import './celestial-container';
@import './celestial-info';

body {
  background-color: rgb(20, 20, 50);
  background-image: url("https://cdn.pixabay.com/photo/2016/09/08/12/00/starry-sky-1654074_960_720.jpg");
  background-size: cover;
  color: rgb(230, 230, 230);
  font-family: 'Courier New', Courier, monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; // Stops the Edit button from stretching to 100% height.
  padding: 10px;
}

.button--dropdown {
  width: 100%;
  display: flex;
  justify-content: center;
}

.font--primary * {
  color: rgb(230, 230, 230);
}

.font--secondary  * {
  color: rgb(20, 20, 20)
}